target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
.vscode/
*.iws
*.iml
*.ipr
*.class

### Application properties ###
application.properties
application.yml
application-*.properties
application-*.yml

### Logs ###
*.log
*.gz

### Maven ###
.mvn/
mvnw
mvnw.cmd
